/**flex相关**/
.flexbox{
    display: flex;
}
.flex1 {
    flex:1;
}
.flex2{
    flex:2;
}
.flex3{
    flex:3;
}
.flex4{
    flex:4;
}
.flex5{
    flex:5;
}
.flex6{
    flex:6;
}
.fdc {
    flex-direction: column;
}
.jcfs {
    justify-content: flex-start;
}
.jcc {
    justify-content: center;
}
.jcsb {
    justify-content: space-between;
}
.jcsa {
    justify-content:space-around;
}
.jcfe {
    justify-content:flex-end;
}
.aifs {
    align-items: flex-start;
}
.aic {
    align-items: center;
}
.aife {
    align-items: flex-end;
}
.fww {
    flex-wrap: wrap;
}
.asc {
    align-self: center;
}
.ass {
    align-self: stretch;
}
.asfs {
    align-self: flex-start;
}
.asfe {
    align-self: flex-end;
}