<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkdrop</title>
    <%- include('commonfile.html') %>
    <link href="<%=filePath%>css/checkdrop<%=hash%>.css" rel="stylesheet">
</head>
<body>
<%- include('header.html') %>
<div class="content-outer">
    <%- include('nav.html') %>
    <div class="content-container flexbox">
        <div class="content-c" id="checkdropPageOuter">
            <div class="content-title"></div>
            <div class="content-des"></div>
            <div class="demo-section">
                <div class="demo-show" style="min-height: 80px">
                    <div id="test1" style="width: 120px"></div>
                </div>
                <div class="demo-title"><span>基本使用</span></div>
                <div class="demo-des">
                    基本使用。
                    <i class="fa fa-code" title="查看代码"></i>
                    <i class="fa fa-copy" title="复制代码"></i>
                </div>
                <div class="demo-code">
                    <pre class="javascript"><code>this.checkDrop = new CheckDrop({
    obj:$('#test1'),
    renderLi:row=>row.name,
    list:new Array(20).fill(1).map((v,i)=>{
        return {
            name:'选项'+i,
            id:i
        }
    }),
    onSelectChange:ids=>{
        message({
            type:'info',
            msg:'当前选中下标：'+ids.join(',')
        })
    }
});</code></pre>
                </div>
            </div>

            <div class="demo-section">
                <div class="demo-show" style="min-height: 80px">
                    <div class="flexbox aic">
                        <button class="btn btn-success btn-test1" style="margin-right: 20px">设置选项</button>
                        <button class="btn btn-success btn-test2" style="margin-right: 20px">清空选项</button>
                        <div id="test2" style="width: 120px"></div>
                    </div>
                </div>
                <div class="demo-title"><span>动态设置选项</span></div>
                <div class="demo-des">
                    异步设置选项，通过renderList方法进行设置。该方法传入[]时，进行清空选项。
                    <i class="fa fa-code" title="查看代码"></i>
                    <i class="fa fa-copy" title="复制代码"></i>
                </div>
                <div class="demo-code">
                    <pre class="javascript"><code>this.checkDrop2 = new CheckDrop({
    obj:$('#test2'),
    renderLi:row=>row.name,
    onSelectChange:ids=>{
        message({
            type:'info',
            msg:'当前选中下标：'+ids.join(',')
        })
    }
});
const that = this;
//设置选项
that.checkDrop2.renderList(new Array(20).fill(1).map((v,i)=>{
    return {
        name:'选项'+i,
        id:i
    }
}));
message({
    type:'success',
    msg:'设置选项成功'
});
//清空选项
that.checkDrop2.renderList([]);
message({
    type:'success',
    msg:'清空选项成功'
})</code></pre>
                </div>
            </div>

            <div class="params-detail">
                <div class="params-detail-title">参数</div>
                <div class="params-detail-table params-props-table"></div>
            </div>
            <div class="params-detail">
                <div class="params-detail-title">方法</div>
                <div class="params-detail-table params-api-table"></div>
            </div>
        </div>
    </div>
</div>
<%- include('footer.html') %>
<script src="<%=filePath%>js/checkdrop<%=hash%>.js"></script>
</body>
</html>