<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>复选框</title>
    <%- include('commonfile.html') %>
    <link href="<%=filePath%>css/checkbox<%=hash%>.css" rel="stylesheet">
</head>
<body>
<%- include('header.html') %>
<div class="content-outer">
    <%- include('nav.html') %>
    <div class="content-container flexbox">
        <div class="content-c" id="checkbox">
            <div class="content-title"></div>
            <div class="content-des"></div>
            <div class="demo-section">
                <div class="demo-show" style="min-height: 80px">
                    <div id="test1" style="width: 14px;height:14px"></div>
                </div>
                <div class="demo-title"><span>基本使用</span></div>
                <div class="demo-des">
                    基本使用。
                    <i class="fa fa-code" title="查看代码"></i>
                    <i class="fa fa-copy" title="复制代码"></i>
                </div>
                <div class="demo-code">
                    <pre class="javascript"><code>new CheckBox({
    obj:$('#test1'),
    onChange:(checked)=>{
        message({
            type:'info',
            msg:checked?'选中':'未选中'
        })
    }
});</code></pre>
                </div>
            </div>

            <div class="demo-section">
                <div class="demo-show" style="min-height: 80px">
                    <div id="colorTest" class="flexbox aic">
                        <div class="test-check" style="width: 14px;height:14px;margin-right: 20px"></div>
                        <div class="test-check" style="width: 14px;height:14px;margin-right: 20px"></div>
                        <div class="test-check" style="width: 14px;height:14px;margin-right: 20px"></div>
                    </div>
                </div>
                <div class="demo-title"><span>不同颜色</span></div>
                <div class="demo-des">
                    通过改变color参数，调整checkbox颜色；<br>
                    通过设置checked参数，设置checkbox初始选中状态
                    <i class="fa fa-code" title="查看代码"></i>
                    <i class="fa fa-copy" title="复制代码"></i>
                </div>
                <div class="demo-code">
                    <pre class="javascript"><code>const colors = ['#ff8b00','#00b793','#d52740'];
$('#colorTest').find('.test-check').each((i,target)=> {
    new CheckBox({
        obj:$(target),
        color:colors[i],
        checked:i%2
    })
});</code></pre>
                </div>
            </div>

            <div class="demo-section">
                <div class="demo-show" style="min-height: 80px">
                    <div id="test2" style="width: 14px;height:14px"></div>
                    <div class="flexbox aic" style="margin-top: 20px">
                        <button class="btn btn-success btn-test btn-test1">选中</button>
                        <button class="btn btn-success btn-test btn-test2">不选中</button>
                        <button class="btn btn-success btn-test btn-test3">获取选中状态</button>
                    </div>
                </div>
                <div class="demo-title"><span>设置/获取选中状态</span></div>
                <div class="demo-des">
                    通过调用setChecked方法，设置组件的选中状态<br>
                    通过调用getChecked方法，获取组件的选中状态
                    <i class="fa fa-code" title="查看代码"></i>
                    <i class="fa fa-copy" title="复制代码"></i>
                </div>
                <div class="demo-code">
                    <pre class="javascript"><code>this.check = new CheckBox({
    obj:$('#test2'),
    onChange:(checked)=>{

    }
});

const that = this;
//选中
that.check.setChecked(true);

//不选中
that.check.setChecked(false);

//获取选中状态
const checked = that.check.getChecked();
message({
    type:'info',
    msg:'当前选中状态：'+(checked?'选中':'未选中')
})</code></pre>
                </div>
            </div>

            <div class="params-detail">
                <div class="params-detail-title">参数</div>
                <div class="params-detail-table params-props-table"></div>
            </div>
            <div class="params-detail">
                <div class="params-detail-title">方法</div>
                <div class="params-detail-table params-api-table"></div>
            </div>
        </div>
    </div>
</div>
<%- include('footer.html') %>
<script src="<%=filePath%>js/checkbox<%=hash%>.js"></script>
</body>
</html>