.ys-couple-menu-c {
  width: 100%;
  height: 32px;
  position: relative;
}
.ys-couple-menu-c .ys-couple-menu-btn {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  cursor: pointer;
}
.ys-couple-menu-c .ys-couple-menu-btn .ys-couple-menu-value {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 32px;
}
.ys-couple-menu-c .ys-couple-menu-btn .ys-couple-menu-value.has-value {
  color: #333;
}
.ys-couple-menu-c .ys-couple-menu-btn .ys-couple-menu-value.has-value + .fa {
  color: #333;
}
.ys-couple-menu-c .ys-couple-menu-btn .fa-caret-down {
  position: absolute;
  right: 5px;
  line-height: 32px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #999;
}
.ys-couple-menu-c.ys-open .fa-caret-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.ys-couple-menu-c .ys-couple-menu-list-o {
  position: absolute;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
  padding: 0;
  height: 303px;
  z-index: 12999;
  width: 120px;
  display: none;
}
.ys-couple-menu-list-o.open-start {
  display: block;
  -webkit-transform: scaleY(0.3);
          transform: scaleY(0.3);
  opacity: 0;
}
.ys-couple-menu-list-o.opening {
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
  -webkit-transform-origin: top;
          transform-origin: top;
}
.ys-dropdown-dropup .ys-couple-menu-list-o.opening {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.ys-couple-menu-list-o.open-end {
  display: block;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}
.ys-couple-menu-list-c {
  height: 300px;
  width: 120px;
  overflow-x: hidden;
  background-color: #fff;
  position: absolute;
  top: 3px;
}
.ys-couple-menu-list-c .couple-menu-header {
  height: 30px;
  text-align: center;
  position: relative;
  z-index: 1001;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  color: #999;
  line-height: 30px;
}
.ys-couple-menu-list-c .couple-menu-header.shadow {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}
.ys-couple-menu-list-c .couple-menu-footer {
  position: relative;
  z-index: 1001;
  border-top: 1px solid #ccc;
  height: 30px;
  padding: 0 20px;
}
.ys-couple-menu-list-c .couple-menu-footer.shadow {
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, .4);
          box-shadow: 1px 1px 7px rgba(0, 0, 0, .4);
}
.ys-couple-menu-list-c .couple-menu-c {
  height: 240px;
  position: relative;
  z-index: 1001;
  width: 140px;
  padding: 10px 20px 10px 0;
  overflow-y: auto;
}
.ys-couple-menu-list-c .couple-menu-c .ys-couple-menu-i {
  padding: 0 10px 0 20px;
  line-height: 26px;
  position: relative;
  cursor: pointer;
  width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ys-couple-menu-list-c .couple-menu-c .ys-couple-menu-i > .fa-caret-right {
  position: absolute;
  right: 5px;
  line-height: 26px;
  top: 0;
}
.ys-couple-menu-list-c .couple-menu-c .ys-couple-menu-i:hover {
  background-color: #ececec;
}
.ys-couple-menu-list-c .couple-menu-c .ys-couple-menu-i.active {
  background-color: #ececec;
  color: #d42740;
}
.ys-couple-menu-cbtn {
  line-height: 28px;
  color: #d42740;
  cursor: pointer;
}
.ys-couple-menu-cbtn:hover {
  text-decoration: underline;
}
